* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Overall Layout */
.container {
    display: grid;
    gap: 10px;
    grid-template: 
    "form-h book-h" 1fr
    "form books" 5fr / 1fr 3fr;
}

/* Form */
.form-heading {
    grid-area: form-h;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;

}

/* books */

.books-heading {
    grid-area: book-h;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books {
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    text-align: center;
    background-color: beige;
}

.card > p {
    padding: 5%;
}

/* Form */

